/* Contexto General, cualquier modificacion modificará toda la página  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family: Arial, Helvetica, sans-serif;
}

.image-containter{
    display: flex;
}

.image-containter img{
    width: 100%;
}


/* Aquí se modifica el encabezado */

header{
    background: #523874;
    padding: 55px 50px;
}

/* Aquí modificamos las imagenes */
#NervLogo img {
    width: 160px; 
    height: 110px;
    position: absolute;
    top: 0;
    left: -35px;
}

#Eva01Wallpapper img{
    width: 100%
}

#shinji img{
    position: absolute;
    top: 55px;
    left: 25px;
    width: 250px;
    height: auto;
}

/* Aqui modificamos el hero */ 

#hero {
    position: absolute;
}

.informacion {
    position: absolute;
    top: 220px;
    left: 25px;
    color: aliceblue;
    border: 1px solid #523874;
    background-color: #dc7d68;
    opacity: 90%;
}



